<content-header current-page-state="vm.currentPageState"></content-header>
<div class="container-fluid">
    <div class="box">
        <div class="heading">
            <a href back-button class="btn btn-info"><span class="glyphicon glyphicon-menu-left"></span>Back</a>
        </div>
        <div class="body">
            <form name="form" ng-submit="vm.updatePlant()" role="form" autocomplete="off" novalidate>
                <label>Edit Plant Details</label>
                <div class="row">
                    <div class="col-xs-12 col-sm-4">
                        <div class="form-group">
                            Name *
                            <input type="text" name="name" class="form-control" ng-model="vm.payload.plantName" required>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="form-group">
                            Capacity (kW) *
                            <input type="number" name="capacity" class="form-control" ng-model="vm.payload.plantCapacity" required>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="form-group">
                            Tariff
                            <input type="number" name="tariff" class="form-control" ng-model="vm.payload.tariff">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="form-group">
                            Commissioning Date *
                            <input type="text" name="commissioningDate" class="form-control" uib-datepicker-popup="{{vm.format}}" is-open="vm.popup1.opened" datepicker-options="vm.dateOptions" close-text="Close" ng-focus="vm.open1()" ng-model="vm.payload.commissioningDate" placeholder="dd MMMM yyyy" required>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="form-group">
                            Data Logging Date *
                            <input type="text" name="dataLoggingDate" class="form-control" uib-datepicker-popup="{{vm.format}}" is-open="vm.popup2.opened" datepicker-options="vm.dateOptions" close-text="Close" ng-focus="vm.open2()" ng-model="vm.payload.dataLoggingDate" placeholder="dd MMMM yyyy" required>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="form-group">
                            Panel Make
                            <input type="text" name="panelMake" class="form-control" ng-model="vm.payload.panelMake">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="form-group">
                            Panel Model
                            <input type="number" name="panelModel" class="form-control" ng-model="vm.payload.panelModel">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="form-group">
                            Site Incharge - Internal
                            <input type="text" name="siteInchargeInternal" class="form-control" ng-model="vm.payload.siteInchargeInternal">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="form-group">
                            Generation Guaranteed
                            <input type="text" name="generationGuaranteed" class="form-control" ng-model="vm.payload.generationGuaranteed">
                        </div>
                    </div>
                  <div class="col-xs-12 col-sm-4">
                    <div class="form-group">
                      Grid Device MAC
                      <input type="text" name="gridDeviceMAC" class="form-control" ng-model="vm.payload.gridDeviceMAC">
                    </div>
                  </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="form-group">
                            Inverter Energy
                            <md-radio-group ng-model="vm.payload.inverterEnergyCalculation" layout="row"  >
                                <md-radio-button value="kwh_today" class="md-primary">kwh today</md-radio-button>
                                <md-radio-button value="kwh_total"> kwh total </md-radio-button>
                            </md-radio-group>
                        </div>
                    </div>
                </div>
                <label>Location</label>
                <div class="row">
                    <div class="col-xs-12 col-sm-4">
                        <div class="form-group">
                            Address Line 1
                            <input type="text" name="addressLine1" class="form-control" ng-model="vm.payload.addressLineOne">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="form-group">
                            Address Line 2
                            <input type="text" name="addressLine2" class="form-control" ng-model="vm.payload.addressLineTwo">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="form-group">
                            City *
                            <input type="text" name="city" class="form-control" ng-model="vm.payload.city" required>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="form-group">
                            State *
                            <input type="text" name="state" class="form-control" ng-model="vm.payload.state" required>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="form-group">
                            Pincode
                            <input type="number" name="pinCode" class="form-control" ng-model="vm.payload.pincode">
                        </div>
                    </div>
                </div>
                <label>Coordinates</label>
                <div class="row">
                    <div class="col-xs-12 col-sm-4">
                        <div class="form-group">
                            Latitude *
                            <input type="text" name="city" class="form-control" ng-model="vm.payload.latitude" required>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="form-group">
                            Longitude *
                            <input type="text" name="longitude" class="form-control" ng-model="vm.payload.longitude" required>
                        </div>
                    </div>
                </div>
                <label>Client Contact Person</label>
                <div class="row">
                    <div class="col-xs-12 col-sm-4">
                        <div class="form-group">
                            Name
                            <input type="text" name="clientName" class="form-control" ng-model="vm.payload.contactPersonName">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="form-group">
                            Designation
                            <input type="text" name="clientDesignation" class="form-control" ng-model="vm.payload.contactPersonDesignation">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="form-group">
                            Contact Number 1
                            <input type="text" name="contactNumber1" class="form-control" ng-model="vm.payload.contactPersonNumberOne">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="form-group">
                            Contact Number 2
                            <input type="text" name="contactNumber2" class="form-control" ng-model="vm.payload.contactPersonNumberTwo">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="form-group">
                            Email
                            <input type="email" name="contactEmail" class="form-control" ng-model="vm.payload.contactPersonEmail">
                        </div>
                    </div>
                </div>
                <div class="btn-group my-btn">
                    <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary center-block">
                        <span ng-hide="vm.dataLoading">Save</span> <img ng-show="vm.dataLoading" src="images/loader.gif" />
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
