<div class="container">
    <div class="accounts">
        <div class="heading">
            <img src="images/logo.jpg">
            <h1 ng-show="vm.emailVerified">Email Verification</h1>
            <h3 ng-hide="vm.emailVerified">INVALID VERIFICATION TOKEN</h3>
        </div>
        <div class="body" ng-init="vm.verifyEmail()">
            <form name="form" role="form" autocomplete="off" novalidate>
                <div ng-show="vm.emailVerified">
                    Your Email is successfully verified, We will let you know once your account is approved.
                </div>
                <div ng-hide="vm.emailVerified">
                    
                </div>
            </form>
        </div>
    </div>
</div>
