<div class="container">
  <div class="accounts">
    <div class="heading">
      <img src="images/logo.jpg">
      <h1>Forgot Password</h1>
    </div>
    <div class="body">
      <form name="form" ng-submit="vm.sendInstruction()" role="form" autocomplete="off" novalidate>
        <p class="text-center">Enter the email address associated with your account to reset password.</p>
        <div class="form-group">
          <input type="email" name="email" class="form-control" ng-model="vm.email" placeholder="Email" required>
        </div>
        <div class="btn-group my-btn">
          <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary">
            <span ng-hide="vm.dataLoading">Send Instruction</span> <img ng-show="vm.dataLoading" src="images/loader.gif" />
          </button>
        </div>
      </form>
    </div>
    <div class="footer">
      <p class="text-center"><a ui-sref="^.login">Sign in</a></p>
    </div>
  </div>
</div>

