<div class="container">
  <div class="accounts">
    <div class="heading">
      <img src="images/logo.jpg">
      <h1>Sign In</h1>
    </div>
    <div class="body">
      <form name="form" ng-submit="vm.login()" role="form" autocomplete="off" novalidate>
        <div class="form-group">
          <input type="email" name="username" class="form-control" ng-model="vm.username" placeholder="Email" required>
        </div>
        <div class="form-group">
          <input type="password" name="password" placeholder="Password" class="form-control" ng-model="vm.password" required/>
        </div>
        <div class="form-group text-right">
          <a ui-sref="^.forgotPassword">Forgot password?</a>
        </div>
        <div class="btn-group my-btn">
          <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary">
            <span ng-hide="vm.dataLoading">Sign in</span> <img ng-show="vm.dataLoading" src="images/loader.gif" />
          </button>
        </div>
      </form>
    </div>
    <div class="footer">
        <p class="text-center"><a ui-sref="^.register">Create new account</a></p>
    </div>
  </div>
</div>
