<div class="container">
    <div class="accounts">
        <div class="heading">
            <img src="images/logo.jpg">
            <h1>Reset Password</h1>
        </div>
        <div class="body">
            <form name="form" ng-submit="vm.resetPassword()" role="form" autocomplete="off" novalidate>
                <input type="hidden" ng-model="vm.user.passwordResetToken" />
                <div class="form-group">
                    <input type="email" name="email" class="form-control" ng-model="vm.user.email" placeholder="Email" required>
                </div>
                <div class="form-group">
                    <input type="password" id ="password" name="password" placeholder="Password" class="form-control" ng-model="vm.password" required/>
                </div>
                <div class="form-group">
                    <input type="password" name="retypePassword" placeholder="Retype Password" class="form-control" ng-model="vm.user.newPassword" pw-check="password" required/>
                </div>
                <div class="btn-group my-btn">
                    <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary">
                        <span ng-hide="vm.dataLoading">Save</span> <img ng-show="vm.dataLoading" src="images/loader.gif" />
                    </button>
                </div>
            </form>
        </div>
        <div class="footer">
            <p class="text-center"><a ui-sref="^.login">Sign in</a></p>
        </div>
    </div>
</div>
