<h4 class="text-center">Enter Password</h4>
<form name='form' ng-submit="vm.authPassword(vm.password)">
  <div>
    <div class="form-group text-center">
      <input type='password' name="password" id="password" ng-model="vm.password" required/>
    </div>
  </div>
  <div class="text-right">
    <button class="btn btn-primary " ng-disabled="form.$invalid">Submit</button>
  </div>
</form>


