<!DOCTYPE html>
<html ng-app="app">
<head>
  <meta charset="utf-8">
  <title>Dashboard | Fourth Partner Energy</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Expires" content="-1">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
  <link rel="stylesheet" href="bower_components/angular-toastr/dist/angular-toastr.css" />
  <link rel="stylesheet" href="bower_components/datatables/media/css/jquery.dataTables.css" />
  <link rel="stylesheet" href="bower_components/select2/dist/css/select2.css" />
  <link rel="stylesheet" href="bower_components/ng-dialog/css/ngDialog.css" />
  <link rel="stylesheet" href="bower_components/ng-dialog/css/ngDialog-theme-default.css" />
  <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
  <link rel="stylesheet" href="bower_components/datatables.net-responsive-dt/css/responsive.dataTables.css" />
  <link rel="stylesheet" href="bower_components/angular-ui-select/dist/select.css" />
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/font-awesome.css">
  <link rel="stylesheet" href="styles/style.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/fixedheader/3.1.0/css/fixedHeader.dataTables.min.css">

  <!-- endbuild -->
</head>
<body class="{{bodyClass}}">
<!--[if lte IE 8]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<div class="content-wrapper"  ui-view></div>

<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-touch/angular-touch.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="bower_components/angular-toastr/dist/angular-toastr.tpls.js"></script>
<script src="bower_components/datatables/media/js/jquery.dataTables.js"></script>
<script src="bower_components/select2/dist/js/select2.js"></script>
<script src="bower_components/jquery-datatables-columnfilter/jquery.dataTables.columnFilter.js"></script>
<script src="bower_components/angular-datatables/dist/angular-datatables.js"></script>
<script src="bower_components/angular-datatables/dist/plugins/bootstrap/angular-datatables.bootstrap.js"></script>
<script src="bower_components/angular-datatables/dist/plugins/colreorder/angular-datatables.colreorder.js"></script>
<script src="bower_components/angular-datatables/dist/plugins/columnfilter/angular-datatables.columnfilter.js"></script>
<script src="bower_components/angular-datatables/dist/plugins/light-columnfilter/angular-datatables.light-columnfilter.js"></script>
<script src="bower_components/angular-datatables/dist/plugins/colvis/angular-datatables.colvis.js"></script>
<script src="bower_components/angular-datatables/dist/plugins/fixedcolumns/angular-datatables.fixedcolumns.js"></script>
<script src="bower_components/angular-datatables/dist/plugins/fixedheader/angular-datatables.fixedheader.js"></script>
<script src="bower_components/angular-datatables/dist/plugins/scroller/angular-datatables.scroller.js"></script>
<script src="bower_components/angular-datatables/dist/plugins/tabletools/angular-datatables.tabletools.js"></script>
<script src="bower_components/angular-datatables/dist/plugins/buttons/angular-datatables.buttons.js"></script>
<script src="bower_components/angular-datatables/dist/plugins/select/angular-datatables.select.js"></script>
<script src="bower_components/ng-dialog/js/ngDialog.js"></script>
<script src="bower_components/angular-aria/angular-aria.js"></script>
<script src="bower_components/angular-messages/angular-messages.js"></script>
<script src="bower_components/angular-material/angular-material.js"></script>
<script src="bower_components/datatables.net/js/jquery.dataTables.js"></script>
<script src="bower_components/datatables.net-responsive/js/dataTables.responsive.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="bower_components/highcharts-ng/dist/highcharts-ng.js"></script>
<script src="bower_components/highcharts/highcharts.js"></script>
<script src="bower_components/highcharts/highcharts-more.js"></script>
<script src="bower_components/highcharts/modules/exporting.js"></script>
<script src="bower_components/angular-ui-select/dist/select.js"></script>
<script src="bower_components/datatables.net-fixedheader/js/dataTables.fixedHeader.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/app.js"></script>
<script src="scripts/config.js"></script>

<script src="scripts/modules/core/app.core.js"></script>
<script src="scripts/modules/core/config/core.routes.js"></script>
<script src="scripts/modules/core/directives/header.directive.js"></script>
<script src="scripts/modules/core/directives/footer.directive.js"></script>
<script src="scripts/modules/core/services/request-interceptor.service.js"></script>
<script src="scripts/modules/core/controllers/app.ctrl.js"></script>

<script src="scripts/modules/admin/app.admin.js"></script>
<script src="scripts/modules/admin/config/admin.routes.js"></script>
<script src="scripts/modules/admin/services/admin.service.js"></script>
<script src="scripts/modules/admin/services/authentication.service.js"></script>
<script src="scripts/modules/admin/services/data-analysis.service.js"></script>
<script src="scripts/modules/admin/controllers/login.ctrl.js"></script>
<script src="scripts/modules/admin/controllers/register.ctrl.js"></script>

<script src="scripts/modules/admin/controllers/forgot-password.ctrl.js"></script>
<script src="scripts/modules/admin/controllers/reset-password.ctrl.js"></script>
<script src="scripts/modules/admin/controllers/dashboard.ctrl.js"></script>
<script src="scripts/modules/admin/controllers/edit-profile.ctrl.js"></script>
<script src="scripts/modules/admin/controllers/email-verification.ctrl.js"></script>

<script src="scripts/modules/users/app.users.js"></script>
<script src="scripts/modules/users/config/users.routes.js"></script>
<script src="scripts/modules/users/controllers/user.ctrl.js"></script>
<script src="scripts/modules/users/controllers/edit-user-profile.ctrl.js"></script>
<script src="scripts/modules/users/controllers/map-vew.ctrl.js"></script>
<script src="scripts/modules/users/controllers/reports.ctrl.js"></script>
<script src="scripts/modules/users/services/user.service.js"></script>

<script src="scripts/modules/plants/app.plants.js"></script>
<script src="scripts/modules/plants/config/plants.routes.js"></script>
<script src="scripts/modules/plants/controllers/add-plant.ctrl.js"></script>
<script src="scripts/modules/plants/controllers/edit-plant.ctrl.js"></script>
<script src="scripts/modules/plants/controllers/add-device.ctrl.js"></script>
<script src="scripts/modules/plants/controllers/edit-device.ctrl.js"></script>
<script src="scripts/modules/plants/controllers/show-plant.ctrl.js"></script>
<script src="scripts/modules/plants/controllers/password.ctrl.js"></script>
<script src="scripts/modules/plants/services/plants.service.js"></script>

<script src="scripts/modules/shared/app.shared.js"></script>
<script src="scripts/modules/shared/config/shared.config.js"></script>
<script src="scripts/modules/shared/filters/custom-filters.js"></script>
<script src="scripts/modules/shared/directives/back-button.directive.js"></script>
<script src="scripts/modules/shared/directives/content-header.directive.js"></script>
<script src="scripts/modules/shared/directives/left-sidebar-menu.directive.js"></script>
<script src="scripts/modules/shared/directives/password-match.directive.js"></script>
<script src="scripts/modules/shared/services/dialog-box.service.js"></script>
<script src="scripts/modules/shared/services/api.service.js"></script>
<!-- endbuild -->
</body>
</html>
