<header>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <ul class="navbar-nav nav hidden-xs pull-right">
        <li><a ng-click="logout()" href="javascript:void(0)">Log Out</a></li>
      </ul>
    </div><!-- /.container-fluid -->
  </nav>
</header>
