<content-header current-page-state="vm.currentPageState"></content-header>

<div class="container-fluid show-plant">
  <div class="box" style="max-width: inherit;">
    <div class="heading">
      <div class="row">
        <div class="col-xs-8">
          <ul class="nav nav-tabs nav-justified">
            <li class="active"><a data-toggle="tab" data-target="#log-book">Log Book</a></li>
            <li><a data-toggle="tab" data-target="#daily-report">Daily Report</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="body">
      <div class="tab-content">
        <div id="log-book" class="tab-pane fade in active">
          <div class="row">
            <div class="col-xs-12">
              <div class="filter-wrapper">
                <button class="btn btn-success" ng-click="vm.incDecLogDate('-')" style="border-bottom-right-radius: 0; border-top-right-radius: 0;"
                        ><i class="fa fa-chevron-left" aria-hidden="true"></i></button>
                <button class="btn btn-success" ng-click="vm.incDecLogDate('+')" style="border-bottom-left-radius: 0; border-top-left-radius: 0;">
                  <i class="fa fa-chevron-right" aria-hidden="true"></i></button>
                &nbsp;&nbsp;&nbsp;&nbsp;

                <div class="input-group">
                  <input type="text" ng-change="vm.date1Change()" uib-datepicker-popup="{{vm.format1}}"
                         is-open="vm.popup1.opened" datepicker-options="vm.dateOptions1" close-text="Close"
                         class="form-control" placeholder="MMMM yyyy" ng-model="vm.date1" aria-describedby="basic-addon1" />
                  <span class="input-group-addon" id="basic-addon1" ng-click="vm.open1();"><i class="fa fa-calendar"></i></span>
                </div>
                <button class="btn btn-success"  style= 'margin-left:10px;' ng-click="vm.getLogReport()">
                  <span ng-hide="vm.isProcessing">Submit</span>
                  <span ng-show="vm.isProcessing"><img src="/images/loader.gif" /></span>
                </button>
              </div>
            </div>
          </div>
        </div>

        <div id="daily-report" class="tab-pane fade in">
          <div class="row">
            <div class="col-xs-12">
              <div class="filter-wrapper">
                <button class="btn btn-success" ng-click="vm.incDecReportDate('-')" style="border-bottom-right-radius: 0; border-top-right-radius: 0;"><i class="fa fa-chevron-left" aria-hidden="true"></i></button>
                <button class="btn btn-success" ng-click="vm.incDecReportDate('+')" style="border-bottom-left-radius: 0; border-top-left-radius: 0;"><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
                &nbsp;&nbsp;&nbsp;&nbsp;

                <div class="input-group">
                  <input type="text" ng-change="vm.date2Change()" uib-datepicker-popup="{{vm.format2}}"
                         is-open="vm.popup2.opened" datepicker-options="vm.dateOptions2" close-text="Close"
                         class="form-control" placeholder="dd MMMM yyyy" ng-model="vm.date2" aria-describedby="basic-addon2"/>
                  <span class="input-group-addon" id="basic-addon2" ng-click="vm.open2();"><i class="fa fa-calendar"></i></span>
                </div>
                <button class="btn btn-success"  style= 'margin-left:10px;' ng-click="vm.getDailyReport()">
                  <span ng-hide="vm.isProcessingReport">Submit</span>
                  <span ng-show="vm.isProcessingReport"><img src="/images/loader.gif" /></span>
                </button>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>

    </div>
  </div>
