.btn {
  outline: none !important;
  font-family: Raleway-Regular, sans-serif;
  @include border-radius(2px);

  img {
    width: 32px;
  }
}

.my-btn {
  .btn {
    height: 48px;
    font-size: 18px;
  }
  .btn-default {
    border-color: $accent-color;
    color: $accent-color;

    &:hover, &:active, &:focus {
      background-color: $accent-color;
      border-color: $accent-color;
      color: $text;
    }
  }
  .btn-primary {
    border-color: $accent-color;
    color: $text;
    background-color: $accent-color;
    font-family: Raleway-Medium, sans-serif;

    &:hover, &:active, &:focus, &[disabled]:hover {
      background-color: $accent-color !important;
      border-color: $accent-color !important;
      color: $text;
    }
  }
}
.btn-secondary {
  border-color: $accent-text;
  color: $accent-text;
  background-color: $text;

  &:hover {
    border-color: $text;
    background-color: $accent-color;
    color: $text !important;
  }
  &:active, &:focus {
    color: $accent-text;
  }
}
