.data-table {
  font-family: Roboto, "Helvetica Neue", sans-serif;

  .form-control {
    padding: 0 10px;
    font-weight: 300;
    font-size: 16px;
  }
  .panel-default {
    border-color: $border-color;
  }
  .table-panel {
    > .panel-heading {
      background-color: #ffffff;
    }
  }

  .panel-heading {
    color: $secondary-text;
    font-family: Raleway-Medium, sans-serif;
    border-color: $border-color;
    text-align: center;

    > .row {
      label {
        margin-top: 7px;
      }

      .form-control {
        margin-top: 3px;
      }
    }

    .col-xs-4 {
      text-align: left;
      padding: auto 5px;
    }
  }

  .table-responsive {
    table.dataTable thead th, table.dataTable thead td {
      border-color: $divider-color;
    }
    table.dataTable.no-footer {
      border-color: $divider-color;
    }

    table.dataTable > tbody > tr.child ul {
      width: 100%;
    }

    table.dataTable.dtr-inline.collapsed > tbody > tr > td:first-child:before, table.dataTable.dtr-inline.collapsed > tbody > tr > th:first-child:before {
      top: auto;
    }
  }

  .inner-info {
    padding: 2px 15px;
    .row {
      background: #f5f7fa;
      margin: 2px -12px;
    }

    .text-info {
      padding: 5px 0;
      font-family: Museo500-Regular, sans-serif;
    }
  }

  table {
    width: 100% !important;

    td,th {
      text-align: center;
    }

    td.request-btn {
      .btn {
        width: 72px;
        font-size: 12px;
        margin: 2px;
      }
    }
    td{
      &.actions {
        display: inline-flex;
      }
      &.minW80 {
        min-width: 80px;
      }
    }

  }
  .dataTables_wrapper .dataTables_length{
    label{
      margin-top:10px;
    }
  }
  .dataTables_wrapper .dataTables_paginate{
    .pagination{
      margin:10px 0;
    }

  }
}
