@font-face {
  font-family: 'Raleway-Thin';
  src: url('../fonts/Raleway-Thin.ttf') format('truetype');
}

@font-face {
  font-family: 'Museo500-Regular';
  src: url('../fonts/Museo500-Regular.otf') format('truetype');
}

@font-face {
  font-family: 'Raleway-Thin';
  src: url('../fonts/Raleway-Thin.ttf') format('truetype');
}

@font-face {
  font-family: 'Raleway-Light';
  src: url('../fonts/Raleway-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Raleway-Medium';
  src: url('../fonts/Raleway-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Raleway-Regular';
  src: url('../fonts/Raleway-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Raleway-SemiBold';
  src: url('../fonts/Raleway-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Raleway-Bold';
  src: url('../fonts/Raleway-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Raleway-ExtraBold';
  src: url('../fonts/Raleway-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Raleway-ExtraLight';
  src: url('../fonts/Raleway-ExtraLight.ttf') format('truetype');
}
