footer {
  background-color: $accent-color;
  text-align:center;
  padding: 40px 0;

  .copyright{
    font-weight: 300;
    margin: 20px 0;
    font-family: Raleway-Light, sans-serif;
  }
  .pages-link {
    margin-top: 30px;
    li {
      margin: 0 5px;
    }
    a{
      color: $primary-text;
      font-size: 16px;
      &:hover {
        color: $accent-text;
        text-decoration: none;
      }
    }
  }
}

.careers,.team {
  footer {
    background-color: $text;
  }
}

/* media quires */
@media (max-width: 480px) {
  footer {
    .pages-link {
      li {
        margin: 0;
      }
      a {
        font-size: 12px;
      }
    }
    .copyright {
      p {
        font-size: 16px;
      }
    }
  }
}
