$primary-color: #183675;
$secondary-color: #f5f7fa;
$dark-accent-color: #266047;
$accent-color: #2b957a;
$color: #FFF;
$divider-color: #EEE;
$border-color: #cfdbe2;

$text: #FFF;
$primary-text: #777;
$secondary-text: #212121;
$link-text: #00bbe6;
$dark-link-text: #289ee1;
$accent-text: #2b957a;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin transform($deg) {
  -webkit-transform: rotate($deg);
  -moz-transform: rotate($deg);
  -ms-transform: rotate($deg);
  -o-transform: rotate($deg);
  transform: rotate($deg);
}

@mixin transform-scale($scale) {
  -webkit-transform: $scale;
  -moz-transform: $scale;
  -ms-transform: $scale;
  -o-transform: $scale;
  transform: $scale;
}

@mixin transition($transition) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -ms-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}

@mixin animation($animation) {
  -webkit-animation: $animation;
  -moz-animation: $animation;
  -o-animation: $animation;
  -ms-animation: $animation;
  animation: $animation;
}

@mixin box-shadow($box-shadow1, $box-shadow2:false) {
  $params: $box-shadow1;
  @if $box-shadow2
  { $params: $box-shadow1, $box-shadow2; }
  -webkit-box-shadow: $params;
  -moz-box-shadow: $params;
  -o-box-shadow: $params;
  box-shadow: $params;
}
