<aside class="sidebar" ng-class="{show: vm.state}">
  <a href="javascript:void(0)" id="navigation-toggle" ng-click="vm.toggleState()"><span class="glyphicon glyphicon-menu-hamburger"></span></a>
  <ul class="heading list-group">
    <li>
      <div class="img-wrapper">
        <img
          ng-src="{{vm.admin.profilePicURL.thumbnail || 'images/logo.jpg' }}"
          class="img-responsive"/>
      </div>
    </li>
  </ul>
  <br>
  <ul class="nav list-group">
    <li ng-class="vm.getMenuItemPropClasses(item)" ng-repeat="item in vm.menuItems">
      <a ui-sref="{{item.sref || '-'}}" ng-click="vm.click(item, $event)"><span class="{{item.icon}}"></span>{{item.text}}
        <i ng-if="item.submenu" ng-class="item.isMenuExpanded ? 'fa-chevron-up' : 'fa-chevron-down'" class="fa pull-right" aria-hidden="true"></i>
      </a>
      <div ng-if="item.submenu" class="sub-menu collapse" uib-collapse="!item.isMenuExpanded">
          <ul class="nav">
            <li ng-class="vm.getMenuItemPropClasses(subitem)" ng-repeat="subitem in item.submenu">
              <a ui-sref="{{subitem.sref}}"><span class="{{subitem.icon}}"></span>{{subitem.text}}</a>
            </li>
          </ul>
      </div>
    </li>
  </ul>
</aside>

